---
import Layout from '../components/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

const blogPosts = await getCollection('docs', ({slug}) => {
    return slug.split('/')[0] === 'blog';
});
---

<Layout>
    <h1>blog.astro</h1>

    <ul>
        {blogPosts.map(blogPost => (
            <li><a href={'/' + blogPost.slug}>{blogPost.slug}</a></li>
        ))}
    </ul>
</Layout>