---
import Layout from "../components/Layout.astro";
---

<Layout>
	<h1>index.astro</h1>
	<ul>
		<li>Blog Posts <a href="blog">here</a></li>
		<li>Pwnmemo <a href="pwnmemo/welcome/welcome">here</a></li>
	</ul>
</Layout>