---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome to heschl.dev</title>

        <!-- SEO Tags -->
        <link rel="canonical"/>
        <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml"/>
        <meta property="og:title" content="Welcome to PwnMemo"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url"/>
        <meta property="og:locale" content="en"/>
        <meta property="og:description" content="Notes on cybersecurity and hacking."/>
        <meta property="og:site_name" content="heschl.dev"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="Welcome to PwnMemo"/>
        <meta name="twitter:description" content="Notes on cybersecurity and hacking."/>
        <meta name="description" content="Notes on cybersecurity and hacking."/>
	</head>
	<body>
        <slot/>
    </body>
</html>